# Adobe PDF Services API credentials
CLIENT_ID=PDF_SERVICES_CLIENT_ID
CLIENT_SECRET=PDF_SERVICES_CLIENT_SECRET

# Date range of processing
# DATE_FROM=20220111
# DATE_TO=20221223

# Paths for ETL output
PTH_LOG=logs
PTH_PDF=data/pdf
PTH_ZIP=data/zip
PTH_TAB=data/table
PTH_GEO=data/geocode
PTH_OUT=data
